/* @import must be at top of file, otherwise CSS will not work */
@font-face {
    font-family: 'AnoStencil-Regular';
    src: url('../fonts/AnoStencilW00Regular.otf');
}

/* Importing fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Noto+Sans:400,700');

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-facebook:before { content: "\f100"; }
.flaticon-twitter-circular-button:before { content: "\f101"; }

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
p {
    line-height: 1.7em;
    color: #343434;
    font-weight: 300;
    text-align: left;
    font-size: 1em;
    margin-bottom: 30px;
}
h1 {
    font-weight: 300;
    color: #7EBBE0;
    text-align: center;
    font-size: 1.875em;
}
h2 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    color: #2F97C1;
    text-align: left;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
    line-height: 1.8em;
}
h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.25em;
    font-weight: 600;
    color: #2F97C1;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}
h4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #2F97C1;
    text-align: left;
    padding-top: 50px;
    margin-bottom: 40px;

}
h5{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding-top: 50px;
    margin-bottom: 30px;
}
h6 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #1E3888;
}
.underline{
    border-bottom: 5px solid;
    border-bottom-color: #D8414D;
}
.container{
    padding-bottom: 40px;
}
@media screen and (min-width: 1200px){
    .container{
        width: 1050px;
    }
}
.cta-read-more{
    color: #2F97C1;
}
.cta-read-more:hover{
    text-decoration: none;
    color: #1E3888;
}

/* Navigation styles */
nav{
    /*
    background: linear-gradient(to bottom,  rgba(93, 217, 193, 0.29) 50%, rgba(55, 191, 170, 0) 75%, #FFFFFF);
    */
    background: linear-gradient(to bottom,  rgba(216, 65, 77, 0.29) 12.5%, #FFFFFF);
    border: none !important;
    border-radius: 0;
}
nav .navbar-brand img{
    height: 95px;
    width: auto;
}
nav .navbar-right{
    margin-top: 48px;
}
nav .navbar-right li{
    margin-left: 13px;
    margin-right: 13px;
}
nav .navbar-right li a{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    color: #2F97C1 !important;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent !important;
}
nav .navbar-right li a:hover{
    color: #1E3888 !important;
    background-color: transparent;
}
.navbar-right .dropdown-menu {
    right: auto;
    left: 0px;
    border: 2px solid #1E3888;
    border-radius: 5px !important;
    margin-top: 10px !important;
}
.dropdown-menu li{
    margin-left:0 !important;
    margin-right:0 !important;
}
.dropdown-menu>li>a {
    padding: 8px 35px !important;
    border: none !important;
    font-weight: 400 !important;
}
.dropdown-menu>li>a:hover {
    text-decoration: none;
    background-color: #E5605E !important;
    border: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.active{
    background-color: #ffffff !important;
}
.active a{
    border-bottom: 5px solid #E5605E!important;
    background-color: #ffffff !important;
}
.active .dropdown-menu li a{
    box-shadow: none !important;
}
/* Force navigation break point earlier */
@media (min-width: 768px) and (max-width: 1040px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
@media screen and (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 2px;
    }
}
/* Header background */

.header{
    min-height: 768px;
    height: 100%;
    background: linear-gradient(180deg, rgba(229, 96, 94, 0) 62.98%, rgba(216, 65, 77, 0.29) 100%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

/* Hero section */
#hero h1{
    font-family: 'AnoStencil-Regular';
    font-size: 3em;
    margin-top: 150px;
    margin-bottom: 40px;
    line-height: 1.4em;
}
#hero .event-date {
    text-align: center;
    font-weight: 400;
    color: #2F97C1;
    font-size: 1.675em;
}
#hero .event-location{
    font-weight: 400;
    color: #636363;
    text-align: center;
    margin-top: -5px;
    font-size: 1.675em;
}
.title-dark{
    color: #636363;
}

/* Info block section */
#info-block{
    padding-top: 2.75em;
    padding-bottom: 0.75em;
}

/* Key dates section */
#key-dates{
    padding-top: 0;
    padding-bottom: 0.75em;
}
.single-line{
    margin-bottom: 35px;
}
.date-svg{
    width: 100%;
    height: auto;
}

/* Join us in Tallinn video section */
.videoWrapper {
    position: relative;
    padding-bottom: 52.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Organisers section */
#organisers{
    padding: 2em 0;
}
#organisers .organiser-logo{
    width: 100%;
    height: auto;
}


/* Sponsors section */
#sponsor{
    padding: 2em 0;
}
#sponsor .info-cta-large{
    color: #2F97C1;
    font-size: 1em;
    font-weight: 400;
}
#sponsor .info-cta-large:hover{
    color: #1E3888;
    text-decoration: none;
}

/* Contact section */
#contact{
    padding: 2em 0;
}
#contact .email-contact{
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    color: #636363;
    padding-top: 5px;
    display: block;
}
#contact .email-contact:hover{
    color: #1E3888;
    text-decoration: none;
}
#contact .follow-list{
    list-style: none;
    padding-left: 0;
}
#contact .follow-list li{
    display: inline-block;
    font-weight: 600;
    font-size: 1em;
    color: #636363;
}
#contact .follow-list li a{
    font-weight: 400;
    color: #636363;
}
#contact .follow-list li a span:before{
    font-size: 30px;
    vertical-align: middle;
}
#contact .follow-list li a:hover{
    color: #1E3888;
    text-decoration: none;
}

/* Footer section */
#footer{
    padding: 5em 5em 3em;
    background: linear-gradient(180deg, rgba(229, 96, 94, 0) 62.98%, rgba(216, 65, 77, 0.29) 100%), #FFFFFF;
    /*
    background: linear-gradient(180deg, rgba(55, 191, 170, 0) 62.98%, rgba(93, 217, 193, 0.29) 100%), #FFFFFF;
    */
}
#footer .text-center p {
    text-align: center;
    padding-top: 5px;
}
#footer .follow-list{
    list-style: none;
    padding-left: 0;
    text-align: center;
}
#footer .follow-list li{
    display: inline-block;
    font-weight: 300;
    color: #343434;
    font-size: 1em;
}
#footer .follow-list li a{
    font-weight: 400;
    color: #343434;
}
#footer .follow-list li a span:before{
    font-size: 25px;
    vertical-align: middle;
}
#footer .follow-list li a:hover{
    color: #1E3888;
    text-decoration: none;
}
#footer hr{
    border-top: 1px solid #343434;
}

/* Call for papers page */
.single-line{
    margin-bottom: 25px;
}
.list-view{
    margin-bottom: 50px;
}
.list-view ul li{
    line-height: 1.7em;
    font-size: 1em;
}

/* Organisers page  */
.page-organisers{
    min-height: 72vh;
}
.page-organisers .commitee-list{
    padding-left: 0;
    list-style: none;
}
.page-organisers .commitee-list li{
    font-size: 1em;
    line-height: 1.5em;
}
.slider-over{
    width: 95%;
    margin: 0 auto;
}
.slider-item img{
    width: 100%;
    height: auto;
}
.slick-next{
    right: 30px;
    z-index: 1;
}
.slick-prev{
    left: 25px;
    z-index: 1;
}
.slick-prev:before, .slick-next:before{
    font-size: 30px;
}
.slick-dots{
    bottom: 50px;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}
.slick-dots li button:before {
    opacity: .25;
    color: white;
    font-size: 12px;
}

/* About Tallinn page */
.about-description{
    margin-bottom: 50px;
}
.about-description strong{
    display: block;
    margin-bottom: 7px;
}
.about-description p{
    font-size: 1em;
}
.right-image{
    margin-top: 30px;
}
.right-image img{
    width: 100%;
    height: auto;
}
.read-more{
    list-style: none;
    padding-left: 0;
}
.read-more li a{
    font-weight: 600;
    font-size: 1em;
    line-height: 1.7em;
}

/* Sponsors page */
.why-sponsor{
    padding-left: 17px;
    line-height: 1.7em;
    margin-bottom: 30px;
}


/* Mobile breakpoint workarounds */
@media screen and (max-width: 1200px){
    nav .navbar-right li{
        margin-left: 0;
    }
}

@media screen and (max-width: 1120px){
    #footer{
        padding: 2em 0 3em;
    }
}
@media screen and (max-width: 1040px){
    button.navbar-toggle{
        border: none;
        margin-top: 55px;
    }
    .icon-bar{
        background-color: #1E3888 !important;
        height: 3px !important;
        border-radius: 0 !important;
        width: 25px !important;
    }
    .icon-bar+.icon-bar {
        margin-top: 5px !important;
    }
    .navbar-collapse#bs-example-navbar-collapse-1 {
        position: absolute;
        background-color: rgb(255, 255, 255);
        border: none;
        width: 100%;
        margin-left: -20px;
        padding-left: 35px;
        z-index: 4;
    }
}
@media screen and (max-width: 768px){
    h2{
        padding-left: 0;
    }
    #organisers .organiser-logo{
        width: auto;
        height: 80px;
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }
    #contact .follow-list{
        margin-top: 25px;
    }
    #footer{
        background: linear-gradient(180deg, rgba(55, 191, 170, 0) 62.98%, rgba(93, 217, 193, 0.29) 100%), #FFFFFF;
    }
    .slider-over{
        width: 100%;
    }
    .header{
        background-image: linear-gradient(rgba(55, 191, 170, 0) 62%, rgba(93, 217, 193, 0.29) 100%);
    }
    .slick-prev, .slick-next {
        width: 30px;
        height: 30px !important;
    }
    .slick-next{
        right: 15px;
    }
    .slick-prev{
        left: 15px;
    }
    .slick-dots{
        bottom: 15px;
    }
    .navbar-right .dropdown-menu {
        margin-top: 0px !important;
    }
}
@media screen and (max-width: 500px){
    .navbar-brand img{
        height: 70px !important;
    }
    button.navbar-toggle{
        margin-top: 38px;
    }
    .single-line .col-xs-2{
        width: 100%;
    }
    .single-line .col-xs-10{
        width: 100%;
        margin-top: 20px;
    }
    #hero h1{
        font-family: AnoStencil-Regular;
        font-size: 1.8em;
        margin-top: 100px;
    }
    #hero .event-location, #hero .event-date{
        font-size: 1.4em;
    }
    .header{
        min-height: 667px;
    }
}




@media screen and (max-width: 600px) {
    .topnav {
        overflow: hidden;
        float: right;
        padding-top: 28px;
        background: white;
        box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.25);
    }
    #Mytopnav{
        overflow: hidden;
        float: right;
        padding-top: 28px;
        background: white;
        box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.25);
    }
    .topnav a, .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    .logo {
        width: 50%;
        height: 50%;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    #grad {
        height: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0) 62%, rgba(255, 198, 159, 0.29));
    }
    .column-footer {
        float: left;
        max-width: 400px;
        width:100%;
    }
    .column-footer2 {
        float: left;
        max-width:450px;
        width:100%;
    }
    h6i{
        float: left;
        padding: 0 25px;
    }
    .column-footer3 {
        float: left;
        max-width:280px;
        width:100%;
        padding: 0 10px 10px;
    }
    .column-footer4 {
        float: left;
        max-width:450px;
        width:100%;
        padding: 0 10px 10px;
    }
    #wrap{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 0;
    }
    .logo-container {
        display: flex;
        flex-direction: column;
    }
    .logo-item {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .column-home2 {
        float: left;
        max-width: 480px;
        width: 100%;
        padding: 10px;
    }
    .logo-container {
        display: flex;
        flex-direction: column;
    }
    .logo-item {
        display: flex;
        justify-content: center;
    }
    .column-footer {
        float: left;
        max-width: 400px;
        width:100%;
    }
    .column-footer2 {
        float: left;
        max-width:450px;
        width:100%;
    }
    h6i{
        float: left;
        padding: 0 25px;
    }
    .column-footer3 {
        float: left;
        max-width:280px;
        width:100%;
        padding: 0 10px 10px;
    }
    .column-footer4 {
        float: left;
        max-width:450px;
        width:100%;
        padding: 0 10px 10px;
    }
}
.video {
    text-align: center;
    max-width: 1170px;
    max-height: 600px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
#page-wrap {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}
#header-wrap {
    height:754px;
}
#gallery-wrap {
    padding: 40px;
    max-height: 600px;
    height: 100%;
}
#grad {
    max-height: 754px;
    height: 100%;
    background-image: url(../images/pebbles.svg), linear-gradient(rgba(255, 255, 255, 0) 62%, rgba(255, 198, 159, 0.29));
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
#grad2 {
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 62.98%, rgba(255, 198, 159, 0.29) 100%), #FFFFFF;
}
.carousel-inner {
    max-height: 600px;
    height: 100%;
    max-width: 1170px;
    width: 100%;
    position: relative;
}
.item{
    border: none;
    border-radius: 0;
    outline: none;
}
.topnav {
    overflow: hidden;
    float: right;
    padding-top: 28px;
}
.topnav a {
    float: right;
    font-size: 18px;
    color: #2F97C1;
    font-family: Noto Sans;
    font-weight: 600;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
.topnav a:hover {
    color:  #2F97C1;
    border: 2px solid  #2F97C1;
    border-radius: 10px;
}
.topnav a.active {
    background-color: white;
    color:  #2F97C1;
    border: 2px solid  #2F97C1;
    box-sizing: border-box;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.show {
    display: block;
}
h5-2 {
    font-family: AnoStencil-Regular;
    color: #636363;
    font-size:48px;
    text-align: center;
}
h6i {
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 600;
    color: #636363;
}
h7 {
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 400;
    color: #343434;
    text-align: center;
}
.label {
    display: inline-block;
    width: 200px;
}
.underline {
    border-bottom: 5px solid;
    border-bottom-color: #E5605E;
}
p2 {
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 300;
    color: #636363;
    text-align: left;
}
p3 {
    font-family: Noto Sans;
    font-size: 18px;
    line-height: 32px;
    font-weight: 100;
    color: #343434;
    text-align: left;
    padding-top: 20px;
}
p4 {
    font-family: Lato;
    font-size: 18px;
    width: 100%;
    max-width: 860px;
    font-weight: 100;
    line-height: 27px;
    color: #343434;
    text-align: left;
    padding-left: 40px;
}
ul_b {
    font-family: Lato;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
    color: #343434;
    text-align: left;
    list-style-type: none;
}
ul_c {
    list-style-type:none;
}
.accordion {
    background-color: white;
    color: #333333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    font-weight: 600;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #DBDBEB;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.p2-container {
    display: block;
    margin: 0 auto; 
    padding-top: 20px;
    max-width: 1170px;
    width: 100%;
}
.p3-container {
    display: block;
    margin: 0 auto; 
    padding-top: 20px;
    max-width: 1170px;
    width: 100%;
}
.center {
    display: block;
    font-size: 24px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    padding-top: 100px;
}
.logo-container {
    display: flex;
    justify-content: space-between;
}
.date-container {
    display: flex;
    flex-direction: column;
}
.date-item {
    display: flex;
    justify-content: left;
    padding-bottom: 52px;
    padding-right: 40px;
}
.follow-container {
    display: flex;
    height: 50px;
}
.follow-container2 {
    display: flex;
    max-width: 200px;
    width: 100%;
    height: 50px;
    float: right;
}
.follow-item {
    max-width: 120px;
    min-width: 20px;
    margin: 10px;
}
.column {
    float: left;
    max-width: 580px;
    width:100%;
}
.column-2 {
    float: right;
    max-width: 580px;
    width: 100%;
}
.column-home {
    float: left;
    padding: 10px;
    max-width: 480px;
    width:100%;
}
.column-home2 {
    float: right;
    max-width: 480px;
    width: 100%;
    padding: 10px;
}
.column-footer {
    float: left;
    padding: 0 15px;
    max-width: 450px;
    width:100%;
}
.column-footer2 {
    float: left;
    max-width:450px;
    width:100%;
}
.column-footer3 {
    float: left;
    max-width:280px;
    width:100%;
}
.column-footer4 {
    float: left;
    max-width:450px;
    width:100%;
}

/* Clear floats after the columns */
#wrap {
    display: flex;
    justify-content: center;
    max-width: 1170px;
    padding-top: 40px;
    padding-bottom: 0px;
}
#left{
    max-width: 590px;
    width: 100%;
    padding: 0 5px;
}
#right {
    max-width: 590px;
    width: 100%;
    padding: 0 5px;
}

/* Set the size of the div element that contains the map */
#map {
    height: 720px;  /* The height is 720 pixels */
    width: 100%;  /* The width is the width of the web page */
}